{%- comment -%}
Required front matter fields:
- title
- author
- pub_date (used for sorting and fallback display)

Optional front matter fields:
- reference (e.g. journal citation)
- doi (for linking to journal)
- eprint (arXiv ID)
- reporturl, reportnumber (e.g. internal notes)
- content (optional Markdown content below the citation)

Example use in a page:
{% include publication-entry.html pub=pub %}
{%- endcomment -%}

<h4>{{ pub.short }}</h4>

<div class="publication-entry">
  <div class="publication-entry__main">
    {%- assign trimmed_content = pub.content | strip -%}
    {%- if trimmed_content != "" -%}
    <div class="publication-entry__description">
      {{ trimmed_content | markdownify | remove: '<p>' | remove: '</p>' | strip }}
    </div>
    {%- endif -%}

    <div class="publication-entry__footer">
      <details class="publication-entry__details">
        <summary><span class="publication-entry__toggle-text">Citation details</span></summary>
        <div class="publication-entry__meta">
          <span class="publication-entry__meta-title">{{ pub.title }}</span>
          <span class="publication-entry__meta-authors">{{ pub.author | replace: "Knut Zoch", '<span
              class="author--highlight">Knut Zoch</span>' }}.</span>

          {%- if pub.reference and pub.reference != "" -%}
          <span class="publication-entry__meta-ref"><em>{{ pub.reference }}{% if pub.doi == nil or pub.doi == "" %} ({{
              pub.pub_date | date: "%Y" }}){% endif %}</em>.</span>
          {%- elsif pub.reportnumber and pub.reportnumber != "" -%}
          <span class="publication-entry__meta-ref"><em>{{ pub.reportnumber }} ({{ pub.pub_date | date: "%Y"
              }})</em>.</span>
          {%- endif -%}

          {%- if pub.doi and pub.doi != "" -%}
          <span class="publication-entry__meta-ref"><span class="publication-entry__meta-label">DOI:</span>{{ pub.doi
            }}.</span>
          {%- endif -%}

          {%- if pub.eprint and pub.eprint != "" -%}
          <span class="publication-entry__meta-ref"><span class="publication-entry__meta-label">arXiv:</span>{{
            pub.eprint
            }}{% if pub.reference == nil or pub.reference ==
            "" and pub.reportnumber == nil or pub.reportnumber == "" %} ({{ pub.pub_date | date: "%Y" }}){% endif
            %}.</span>
          {%- endif -%}

          {%- if pub.reporturl and pub.reporturl != "" -%}
          <span class="publication-entry__meta-ref"><span class="publication-entry__meta-label">CDS:</span>{{
            pub.reporturl }}.</span>
          {%- endif -%}
        </div>
      </details>

      <div class="publication-entry__links">
        {%- if pub.doi -%}
        <a href="https://doi.org/{{ pub.doi }}" class="btn btn--inverse btn--x-small">DOI</a>
        {%- endif -%}

        {%- if pub.eprint -%}
        <a href="https://arxiv.org/abs/{{ pub.eprint }}" class="btn btn--inverse btn--x-small">arXiv</a>
        {%- endif -%}

        {%- if pub.reporturl and pub.reportnumber -%}
        <a href="{{ pub.reporturl }}" class="btn btn--inverse btn--x-small">CDS entry</a>
        {%- endif -%}
      </div>
    </div>
  </div>
</div>