<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "name": "Knut Zoch",
  "jobTitle": "Experimental Particle Physicist at Harvard University and CERN",
  "affiliation": [
    {
      "@type": "Organization",
      "name": "Harvard University",
      "url": "https://harvard.edu/"
    },
    {
      "@type": "Organization",
      "name": "CERN",
      "url": "https://home.cern/"
    }
  ],
  "url": "{{ site.url }}",
  "sameAs": [
    "https://scholar.google.com/citations?user=MJ0Q724AAAAJ&hl=en",
    "https://inspirehep.net/authors/1508982",
    "https://orcid.org/0000-0003-2138-6187",
    "https://linkedin.com/in/knutzk"
  ],
  "alumniOf": "University of Göttingen",
  "knowsAbout": [
    "Particle Physics",
    "Machine Learning",
    "Top Quark Physics",
    "ATLAS Experiment",
    "Data Analysis",
    "Experimental Physics"
  ],
  "description": "{{ site.description }}"
}
</script>
